* {
	margin: 0;
	padding: 0;
}

html {min-height: 100%; margin-bottom: 1px;}

body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	text-align:center;
}


div#wrap {
	margin:0 auto;
	position: relative;
	display: block;
	clear: both;
	background-color: #fff;
}

div#content {
	margin:0 auto;
	position: relative;
	width: 934px;
	display: block;
	clear: both;
	padding: 0;
}

div#header {
	display: block;
	margin: 0;
	width: 934px;
	text-align: left;
}

div#layers {
	display: block;
	width: 934px;
	margin: 0;
	padding: 0;
	position: relative;
}


div#column-left-index {
	display: block;
	width: 600px;
	margin: 0px 360px 0 40px;
	padding: 0;
	text-align: left;
	text-align: left;
	position: relative;
}


div#column-left-inside {
	display: block;
	width: 580px;
	margin: 0px 410px 0 10px;
	padding: 0;
	text-align: left;
	text-align: left;
	position: relative;
}

div#column-right {
	display: block;
	width: 360px;
	margin: -62px 0 0 640px;
	padding: 0;
	text-align: left;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:2;
}


div#pagetop {
	width: 1000px;
	text-align: left;
	margin: 50px 0 30px 0;
}


div#pagetop-inside {
	width: 1000px;
	text-align: left;
	margin: 50px 0 10px 0;
}


div#pagenav {
	display: block;
	width: 1000px;
	margin: 0;
	text-align: left;
	clear: both;
}



div#homebox {
	display: block;
	float: left;
	width: 520px;
	margin: 40px 0 0;
	padding: 25px 25px 45px;
	background: #d9d7c5;
	clear: both;
}
div#homebox_content {
	display: block;
	float: left;
	width: 520px;
	margin: 0;
	text-align: left;
}


div#footer {
	display: block;
	float: left;
	width: 1000px;
	margin: 20px 0 0 0;
	text-align: left;
}



.pageheading-01-serif {
	display: inline;
	margin: 0;
	padding: 0;
	font-family :  Cambria, Times New Roman, Times, serif;
	font-size : 25px;
	font-weight : normal;
	font-smooth : always;
	color : #809677;
	line-height: 31px;
}


.pageheading-02-serif {
	display: inline;
	margin: 5px 0 0 0;
	padding: 0;
	font-family :  Cambria, "Times New Roman", Times, serif;
	font-size : 48px;
	font-weight : normal;
	font-smooth : always;
	color : #57744B;
	line-height: 31px;
}


.menucopy-01 {
	display: inline;
	margin: 0;
	padding: 0;
	font-family :  Calibri, Verdana, sans-serif;
	font-size : 12px;
	font-weight : regular;
	color : #4d4d4d;
	line-height: 16px;
}
a.menucopy-01:link { color: #4d4d4d; text-decoration: none }
a.menucopy-01:visited { color: #4d4d4d; text-decoration: none }
a.menucopy-01:hover { color: #1a1a1a; text-decoration: underline }
a.menucopy-01:active { color: #4d4d4d; text-decoration: none }


.menucopy-01-active {
	display: inline;
	margin: 0;
	padding: 0;
	font-family :  Calibri, Verdana, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color : #57744B;
	line-height: 16px;
}


.pagecopy-01 {
	display: inline;
	margin: 0;
	padding: 0;
	font-family :  Calibri, Verdana, sans-serif;
	font-size : 15px;
	font-weight : normal;
	color : #1a1a1a;
	line-height: 18px;
}
a.pagecopy-01:link { color: #1a1a1a; text-decoration: none }
a.pagecopy-01:visited { color: #1a1a1a; text-decoration: none }
a.pagecopy-01:hover { color: #577442; text-decoration: underline }
a.pagecopy-01:active { color: #1a1a1a; text-decoration: none }


.footercopy-01 {
	display: inline;
	margin: 0;
	padding: 0;
	font-family :  Calibri, Verdana, sans-serif;
	font-size : 11px;
	font-weight : regular;
	color : #666666;
	line-height: 15px;
}
a.footercopy-01:link { color: #666666; text-decoration: none }
a.footercopy-01:visited { color: #666666; text-decoration: none }
a.footercopy-01:hover { color: #666666; text-decoration: underline }
a.footercopy-01:active { color: #666666; text-decoration: none }


.pagecopy-01-serif {
	display: inline;
	margin: 0;
	padding: 0;
	font-family :  Cambria, "Times New Roman", Times, serif;
	font-size : 21px;
	font-weight : normal;
	color : #1a1a1a;
	line-height: 25px;
}


.pagecopy-02-serif {
	display: inline;
	margin: 0;
	padding: 0;
	font-family :  Cambria, Times New Roman, Times, serif;
	font-size : 15px;
	font-weight : regular;
	color : #57744b;
	line-height: 24px;
}


.pagecopy-03-serif {
	display: inline;
	margin: 0;
	padding: 0;
	font-family :  Cambria, Times New Roman, Times, serif;
	font-size : 15px;
	font-weight : regular;
	color : #1a1a1a;
	line-height: 20px;
}
ul#list-pagecopy-03-serif {
	margin: 6px 0 6px 26px;
	padding: 0;
	font-family :  Cambria, Times New Roman, Times, serif;
	font-size : 15px;
	font-weight : regular;
	color : #1a1a1a;
	line-height: 20px;
	list-style-type:square
}
ul#list-pagecopy-03-serif li {
	margin-top: 7px;
}

 table.navigation {
	width:990px; 
	margin:0 0 0 10px; 
	background-color: #fff;
}


a.rollover_bt_qamark {background: url("images/qa_mark.png"); width:35px; height:25px; text-decoration:none; display:block; margin:0; vertical-align:middle;}
a.rollover_bt_qamark:hover {background: url("images/qa_mark_over.png"); width:35px; height:25px; display:block; margin:0; vertical-align:middle;}

a.rollover_bt_qamark-rev {background: url("images/qa_mark_over.png"); width:35px; height:25px; text-decoration:none; display:block; margin:0; vertical-align:middle;}
a.rollover_bt_qamark-rev:hover {background: url("images/qa_mark.png"); width:35px; height:25px; display:block; margin:0; vertical-align:middle;}

.displace {
	position: absolute;
	left: -5000px;
	}

a:link { outline:none }
a:active { outline:none }
a:visited { outline:none }
a:hover { outline:none }
.forwardcopy-01-serif {
	display: inline;
	margin: 0;
	padding: 0;
	font-family :  Cambria, "Times New Roman", Times, serif;
	font-size : 21px;
	font-weight : normal;
	color : #B23914;
	line-height: 25px;
}

.errortext {
	display: inline;
	margin: 0;
	padding: 0;
	font-family :  Helvetica, sans-serif;
	font-size : 12px;
	font-weight : normal;
	color : #b6202d;
	line-height: 17px;
}


.formfield-300 {
	font-family : Cambria, Times New Roman, Times, serif;
	font-size : 13px;
	font-weight : normal;
	color : #000;
	line-height: 19px;
	background-color: #fff;
	border-top:1px solid #e3cccf;
	border-right:1px solid #e4dcdd;
	border-bottom:1px solid #e4dcdd;
	border-left:1px solid #e3cccf;
	margin: 5px 0 5px 0;
	width: 300px;
	height: 24px;
}

.formfield-textarea {
	wrap: hard;
	height: 120px;
	font-family : Cambria, Times New Roman, Times, serif;
	font-size : 13px;
	font-weight : normal;
	color : #000;
	line-height: 19px;
	background-color: #fff;
	border-top:1px solid #e3cccf;
	border-right:1px solid #e4dcdd;
	border-bottom:1px solid #e4dcdd;
	border-left:1px solid #e3cccf;
	margin: 5px 0 5px 0;
	width: 350px
}